.example {
    padding: 10px;
    margin: 10px;

    &:hover {
        cursor: pointer;
        border: solid 2px #04AA6D;
    }
}

.cool {
    font-weight: bold;
    color: #04AA6D;
}

div {
    text-align: center;
}